@model IEnumerable<FormularioCadastroCliente.Models.Cliente>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cadastro de Cliente</title>
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/css/fonts.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    
    <script src="js/disable.js"></script>

    <style>
        body, html {
            height: 100%;
        }
        #criar {
            margin-top: 30px;
        }
        #visualizar {
            background-color: rgb(200, 200, 200);
            color: rgb(0, 0, 0);
            margin-left: 20%;
        }
        #visualizar:hover {
            background-color: rgb(150, 150, 150);
        }
        #semRegistro {
            margin: 20px 100% 0 0;
        }
    </style>
</head>
<body>

    <div class="page">
        <div class="card" id="card" name="card">
            <div class="card-head" id="card-head" name="card-head">
                <h2 class="title">Formulário</h2>
            </div>
            <div class="card-body">
                @if (Model != null && Model.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NomeFantasia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cnpj)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomeFantasia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cnpj)
                                    </td>
                                    <td>
                                        <a class="btn" asp-action="Visualizar" asp-route-id="@item.Id" id="visualizar">Detalhes</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <a id="semRegistro"> Não existem clientes registrados </a>
                }
                <a class="btn" asp-action="Criar" id="criar">Criar</a>
            </div>
        </div>
    </div>
</body>
</html>
